.post {
    padding: 10px 10px 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px #000;
    border-radius: 10px;
    width: 220px;
    animation-name: appearance;
    animation-duration: 1.5s;
    position: relative;
    @media (max-width: 725px){
        width: 100%;
    }
    .img {
        img {
            width: 200px;
            height: 130px;
            border-radius: 10px;
            object-fit: cover;
        }
        @media (max-width: 725px){
            text-align: center;
        }
    }
    .title {
        font-size: 1.2em;
        font-weight: 600;
        line-height: 40px;
        color: #fff;
    }
    .text {
        color: rgb(175, 175, 175);
        width: 200px;
        flex: 1 1 auto;
        @media (max-width: 725px){
            width: 100%;
        }
        a{
            color: #fff;
            position: absolute;
            right: 10px;
            bottom: 10px;
            padding: 7px 10px;
            background-color: rgb(56, 56, 56);
            border-radius: 5px;
        }
    }
    .actions{
        margin-top: 20px;
        display: flex;
        gap: 12px;
        align-items: center;
    }
    .like,
    .delete,
    .edit{
        svg{
            width: 20px;
            transition-duration: .3s;
            @media (max-width: 725px){
                width: 30px;
            }
        }
        button{
            background-color: transparent;
            border: 0;
            outline: none;
            transition-duration: .1s;
            cursor: pointer;
            &:active{
                transform: scale(1.1);
            }
        }
    }
    .delete,
    .edit{
        svg{
            fill: #fff;
        }
    }
}

@keyframes appearance {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}