.navigation {
  img {
    width: 20px;
    height: 20px;
  }
  ul,
  li {
    display: block;
  }
  a {
    text-decoration: none;
    color: rgb(189, 189, 189);
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 5px;
    transition-duration: 0.3s;
    padding: 7px 10px;
    border-bottom: 1px solid rgb(189, 189, 189);
    &.active {
      color: #fff;
    }
    &:hover {
      color: #fff;
    }
  }
}
