.form{
    margin: 70px auto;
    max-width: 400px;
    padding: 0 10px;
    text-align: center;
    animation-name: appearance;
    animation-duration: 1s;
    .title{
        font-weight: 600;
        font-size: 1.4em;
        line-height: 34px;
        color: #fff;
        margin-bottom: 10px;
    }
    input{
        padding: 10px;
        width: 100%;
        border-radius: 5px;
        outline: none;
        border: 1px solid transparent;
        font-size: 15px;
        background-color: rgb(63, 63, 63);
        color: #fff;
        &.green__border{
            border-color: greenyellow;
        }
        &.red__border{
            border-color: red;
        }
        &::placeholder{
            color: rgb(190, 190, 190);
        }
        &:focus{
            background-color: rgb(41, 41, 41);
        }
    }
    button{
        width: 100%;
        padding: 8px;
        border-radius: 5px;
        border: 0;
        outline: none;
        font-weight: 600;
        background-color: rgb(194, 194, 194);
        color: #333;
        font-size: 15px;
        cursor: pointer;
    }
    .errors{
        text-align: left;
        padding-left: 25px;
        margin-top: 5px;
        li{
            color: rgb(255, 67, 67);
        }
    }
}

@keyframes appearance {
    0%{
        transform: translateY(50%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}