* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #000;
}
ul,
li{
    display: inline-block;
}
body{
    &::-webkit-scrollbar{
        background-color: transparent;
        width: 10px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: #333;
        border-radius: 10px;
        &:hover{
            background-color: #111;
        }
    }
}