.postCreateBtn{
    padding: 5px 10px;
    border: 0;
    outline: none;
    background-color: rgba(63, 63, 63, 0.8);
    box-shadow: 0 5px 0 #000;
    transition-duration: .2s;
    color: rgb(221, 221, 221);
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    &:hover{
        background-color: rgb(63, 63, 63);
    }
    &:active{
        box-shadow: 0 2px 0 #000;
    }
}