.post {
    color: #fff;
    margin-left: 230px;
    padding: 10px;

    .title {
        font-weight: 500;
        font-size: 24px;
        letter-spacing: 1px;
    }

    .text {
        width: 400px;
        color: #afafaf;
    }

    .img img {
        width: 270px;

        @media (max-width: 425px) {
            width: 100%;
        }
    }

    @media (max-width: 725px) {
        margin-left: 70px;
    }
}

.error {
    text-align: center;
    margin-top: 100px;
    margin-left: 230px;

    @media (max-width: 725px) {
        margin-left: 70px;
    }

    span {
        color: #fff;
        font-weight: 600;
        font-size: 2em;
    }

    button {
        border: 0;
        outline: none;
        background-color: #333;
        padding: 5px 10px;
        border-radius: 5px;
        box-shadow: 0 5px 0 #000;
        cursor: pointer;
        color: #fff;
        font-size: 20px;
        margin-top: 20px;

        &:active {
            box-shadow: 0 2px 0 #000;
        }
    }
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    margin-left: 230px;

    @media (max-width: 725px) {
        margin-left: 70px;
    }

    svg {
        fill: rgb(216, 216, 216);
        width: 50px;
        animation: loadingAnimation 2s ease-in-out infinite .1s;
    }

    div {
        color: #fff;
        font-size: 18px;
        font-weight: 500;
    }
}

@keyframes loadingAnimation {
    0% {
        transform: rotate(-180deg);
    }

    100% {
        transform: rotate(0);
    }
}